/* styles.css */
header {
    background-color: #009900;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #adb8ac;
    color: #fff;
    padding: 10px;
}
a:hover, a:active, a:focus {
  color: #1A8809;
  outline: none;
  text-decoration: none;
}

aside {
    background-color: #eee;
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #009900;
    color: #fff;
    text-align: center;
    padding: 10px;
}
